.item__task-drag {
  display: inline-flex;
  flex-direction: column;
  margin-right: 8px;
  cursor: grab;
  padding: 3px;

  span {
    --adaptive: 'mr=10=30';
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    border: black solid 1px;
    border-radius: 50%;
  }
  
  &:hover span{
    background: #000;
  }
}